{% extends 'base.html' %}
{% block content %}
<div class="inv-navbar">
    <div class="inv-navbar-left">
        <h3 class="inv-app-title">Configuration</h3>
    </div>
</div>
<div class="dashboard-content">
    <!-- Tabs -->
    <div class="tabs">
        <button class="tab-button {% if tab == 'view' %}active{% endif %}"><a href="{{ url_for('configuration_tab', tab='view') }}" style="text-decoration: none; color: #005da2;">View Table</a></button>
        <button class="tab-button {% if tab == 'add' %}active{% endif %}"><a href="{{ url_for('configuration_tab', tab='add') }}" style="text-decoration: none; color: #005da2;">Add Data</a></button>
    </div>

    <!-- Tab Contents -->
    <div id="view" class="tab-content" style="display: {% if tab == 'view' %}block{% else %}none{% endif %};">
        {% block config_viewtable %}{% endblock %}
    </div>

    <div id="add" class="tab-content" style="display: {% if tab == 'add' %}block{% else %}none{% endif %};">
        {% block config_addtabledata %}{% endblock %}
    </div>
</div>
{% endblock %}
